a {
	color: #000;
}

body {
	background: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#save-button, #note-button, #unsave-button {
	width: 40%;
	margin: 0 0 10px 10px;
}

.card {
	margin-bottom: 30px;
}

#unsave-button {
	position: absolute;
	right: 10px;
	bottom: 0;
}